In [2]:
import os
print(os.listdir())

['.git', 'analysis.ipynb', 'demographic_data_analyzer.py', 'Readme.md']

In [ ]:
# importing pandas library
import pandas as pd

In [ ]:
# defining column names for the dataset 
columns_name = [ 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'sex',
    'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
    'salary']

In [ ]:
# loading the dataset into a pandas DataFrame
df = pd.read_csv(r"C:\Users\Admin\Downloads\census+income\adult.csv",header=None,names=columns_name)

In [ ]:
# displaying the first five rows of the DataFrame
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# getting the shape of the DataFrame
# Note : the dataset has (32561 rows) and  this  less than the number of rows in the dataset mentioned in the task description (48842 rows).
df.shape

(32561, 15)

In [ ]:
# getting concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [12]:
df["salary"].head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: salary, dtype: object

In [13]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

### How many people of each race are represented in this dataset?
##### the answer is 
| Race                  | Count |
|-----------------------|-------|
| White                 | 27816 |
| Black                 | 3124  |
| Asian-Pac-Islander    | 1039  |
| Amer-Indian-Eskimo    | 311   |
| Other                 | 271   |

In [18]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [20]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?
##### the answer is
- **39.4**

In [21]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [22]:
df["sex"].unique()

array([' Male', ' Female'], dtype=object)

In [ ]:
# removing leading and trailing spaces from string values in the DataFrame
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\Admin\AppData\Local\Temp\ipykernel_22104\1718083031.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [36]:
men = df[df["sex"] == "Male"]

In [37]:
average_age_men = men["age"].mean()
average_age_men

np.float64(39.43354749885268)

In [38]:
average_age_men = round(men['age'].mean(), 1)
average_age_men

np.float64(39.4)

### What is the percentage of people who have a Bachelor's degree?
##### the answer is
- **16.4**

In [40]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [41]:
bachelor = df[df['education'] == 'Bachelors']

In [44]:
bachelor_count = bachelor.value_counts().sum()

In [52]:
percentage_bachelors = round((bachelor_count/df.value_counts().sum())*100,1)
# percentage_bachelors = (bachelor_count/len(df))*100
# percentage_bachelors = (bachelor_count/df.shape[0])*100
percentage_bachelors

np.float64(16.4)

In [53]:
percentage_bachelors = round((df['education'] == 'Bachelors').mean() * 100, 1)
percentage_bachelors

np.float64(16.4)

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
##### the answer is 
- **46.5 %**

In [54]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [55]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [57]:
advenced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
higher_education = df[advenced_education]

In [58]:
higher_education_salary = higher_education[higher_education['salary'] == '>50K']

In [63]:
# percenage_higher_education_salary = round((higher_education_salary.shape[0]/higher_education.shape[0])*100,1)
# percenage_higher_education_salary = round((higher_education_salary.value_counts().sum()/higher_education.value_counts().sum())*100,1)
percenage_higher_education_salary = round((len(higher_education_salary)/len(higher_education))*100,1)
percenage_higher_education_salary

46.5

### What percentage of people without advanced education make more than 50K?
##### the answer is 
- **17.4 %**

In [67]:
lower_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education_rich = df[lower_education & (df['salary'] == '>50K')]
percentage_lower_education_rich = round(len(lower_education_rich) / len(df[lower_education]) * 100, 1)
percentage_lower_education_rich

17.4

### What is the minimum number of hours a person works per week?
##### the answer is 
- **1**

In [68]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [69]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
##### the answer is 
- **10.0 %**

In [70]:
num_min_work_hours = df[df['hours-per-week'] == min_work_hours]
num_min_work_hours.shape[0]

20

In [76]:
rich_percentage = round((num_min_work_hours['salary'] == '>50K').mean() * 100,1)

In [132]:
print(rich_percentage)

10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?
##### the answer is 
|country | >50k |
|--------|------|
|Iran    |41.9 %|

In [ ]:
country_per_salary  = df.groupby('native-country')['salary'].value_counts(normalize=True).unstack()
country_percentage_rich = (country_per_salary.get('>50K',0)*100).fillna(0)
highest_earning_country = country_percentage_rich.idxmax()
highest_earning_country_percentage = round(country_percentage_rich.max(),1)
highest_earning_country_percentage
print(highest_earning_country, highest_earning_country_percentage)

Iran 41.9

In [116]:
countr = df.groupby('native-country')['salary'].value_counts(normalize=True).unstack()
# countr
per = countr['>50K']
salary = pd.DataFrame(per)
percentage = round((salary.sort_values(by='>50K', ascending=False).head(1))*100,1)
percentage

                >50K
native-country
Iran            41.9

### Identify the most popular occupation for those who earn >50K in India.
##### the answer is 
- **Prof-specialty**

In [117]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [131]:
india = df['native-country'] == 'India'
india_salary = df[india & (df['salary'] == '>50K')]
popular_occupayion = india_salary['occupation'].value_counts().idxmax()
print(popular_occupayion)

Prof-specialty

In [130]:
india_occupations = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation']
top_india_occupation = india_occupations.value_counts().idxmax()
print(top_india_occupation)

Prof-specialty

### The end of the task